@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

section {
  padding: 100px;
}

header {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: #fff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);

}

header.sticky ul li a  {
  color: #111;
}

header.sticky .logo {
  color: #111;
}


header .logo {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: 'Pokemon X and Y';
  text-shadow: 1px 1px #222324, 1px 1px #222324, 1px 2px #222324;
}

header ul {
  position:relative;
  display: flex;
}

header ul li{
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}


.banner {
  position: relative;
  min-height: 100vh;
  background:url(smile2.jpg);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.banner h2 span {

  font-size: 1.5em;
  font-weight: 900;

}

.banner h3 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;

}


.btn {
  background: #f8f354 ;
  color: #ffff;
  display: inline-block;
  text-decoration: none;
  padding:10px 30px;
  margin-top: 1rem;
}

.logoText {
  position: absolute;
  top:40px;
  left: 100px;
  font-size: 1.2em;
  letter-spacing: 1px; 
  background: #f8f354;
  color: #fff;
  font-family: 'Pokemon X and Y';
  padding:10px;
  text-shadow: 1px 1px #222324, 1px 1px #222324, 1px 2px #222324;
}

.heading {

  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color : #111;
}

.heading h2 {
  font-weight: 600;
  font-size: 30px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.contentBx {
  font-size: 24px;
  margin-bottom: 10px;
}

.contentBx {
  font-size: 24px;
  margin-bottom: 10px;
}

.w50 {
  min-width: 50%;
}

img {
  margin-left: 2rem;
  max-width: 100%;
}

.heading.white {
  color: #fff;
}

.services {
  background: #111;
}

.services .content {
  display: flex;
  justify-content: center;

}

.services .content .servicesBx {
  padding: 40px 20px;
  background: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;

}

.services .content .servicesBx:hover {
  background: #a7a10d;
}

.services .content .servicesBx i {
  font-size: 2em;
}

.services .content .servicesBx h2 {
  font-size: 20px;
  font-weight: 600;
}

.work .content {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work .content .workBx {
  width: 50%;
  padding: 20px;
}

.work .content .workBx img {
  max-width: 100%;
}
/* 
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
  }

  .card {

    position: relative;
    width: 350px;
    height: 190px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
  }

  .card:hover {
    height: 450px;
  }

  .pic  {
    position: absolute;
    left: 50%;
    top:-50px;
    background: black;
    width:150px;
    height: 150px;
    transform: translateX(-50%);
    border-radius: 90px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
    overflow: hidden;
  }

  .pic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 90px;
  }

  .card:hover .pic {
    width: 250px;
    height: 250px;
    border-radius: 120px;
  }

  .card:hover img {
    
  }

  .card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
  }

  .card .content .details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(135px);
  }

  .card:hover .content .details { 
    transform: translateY(0px);
 }
  


  .card .content .details h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height:1.2em ;

  }

  .card .content .details h2 span {
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
  } 

  .card .content .details .desc {
    font-size: 0.75em;
    font-weight: 400;
    opacity: 0.5;

  }
*/


