<div class="home">
<h1>kycode</h1>
<h2>Portfolio de Kyllian Creppy</h2>
<div class="word">
<%= link_to "APPUYEZ POUR COMMENCER", about_path(), class:"home_button" %>
</div>
<%= video_tag "pokemon.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
</div>