<h1>kycode</h1>
<div class="word">
<%= link_to "DÉCOUVRIR", about_path(), class:"home_button" %>
</div>
<%= video_tag "pokemon.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>